/*
  CSS specific to the Splash Page are contained in this file
*/

.splashPage .btn-primary {
  background-color: #335075;
  border-color: #335075;
}

.splashPage .btn-primary:hover {
  background-color: #1c578a;
  border-color: #091c2d;
}

.splashPage .splash-spacer {
  width: 100%;
  height: 4em;
}

.splashPage .splash-box {
  max-width: 90%;
  height: 280px;
}

.splashPage .splash-url {
  color: #335075;
  text-decoration: none;
}

.splashPage .splash-url:hover {
  text-decoration: underline;
}

.splashPage .splash-banner-img {
  width: auto;
}

.splashPage .splash-footer-img {
  width: auto;
}

.splashPage .splash-button-container {
  margin: 10px 0px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.splashPage .splash-button {
  min-width: 110px;
  min-height: 48px;
  font-weight: 400 !important;
  box-shadow: 0 4px #ddd;
}

/* Media queries */
@media (min-width: 600px) {
  .splashPage .splash-box {
    width: 500px;
    max-width: 100%;
  }
  .splashPage .splash-spacer {
    height: 8em;
  }
  .splashPage .splash-button {
    min-width: 120px;
  }
}

@media (min-width: 768px) {
  .splashPage .splash-box {
    width: 500px;
    max-width: 100%;
  }
  .splashPage .splash-spacer {
    height: 10em;
  }
  .splashPage .splash-button-container {
    margin: 10px 60px;
  }
  .splashPage .splash-button {
    min-width: 130px;
  }
}

@media (min-width: 992px) {
  .splashPage .splash-box {
    width: 500px;
    max-width: 100%;
  }
  .splashPage .splash-button {
    min-width: 130px;
  }
  .splashPage .splash-button-container {
    margin: 10px 60px;
  }
}

@media (min-width: 1200px) {
  .splashPage .splash-box {
    width: 500px;
    max-width: 100%;
  }
  .splashPage .splash-button {
    min-width: 150px;
  }
  .splashPage .splash-button-container {
    margin: 10px 60px;
  }
}

/* Phones & windows with different screen orientations */
@media (min-width: 300px) and (min-height: 240px) {
  .splashPage .splash-box {
    max-width: 90%;
  }
  .splashPage .splash-spacer {
    height: 1.5em;
  }
}

@media (min-width: 480px) and (min-height: 640px) {
  .splashPage .splash-box {
    max-width: 90%;
  }
  .splashPage .splash-spacer {
    height: 6em;
  }
  .splashPage .splash-button {
    min-width: 150px;
  }
  .splashPage .splash-footer-img {
    width: 127px;
  }
  .splashPage .splash-banner-img {
    width: 283px;
  }
  .splashPage .splash-button-container {
    margin: 10px 40px;
  }
}

@media (min-width: 600px) and (min-height: 800px) {
  .splashPage .splash-box {
    width: 500px;
    max-width: 100%;
  }
  .splashPage .splash-spacer {
    height: 10em;
  }
  .splashPage .splash-button {
    min-width: 140px;
  }
  .splashPage .splash-button-container {
    margin: 10px 50px;
  }
}

@media (min-width: 720px) and (min-height: 960px) {
  .splashPage .splash-box {
    width: 500px;
    max-width: 100%;
  }
  .splashPage .splash-spacer {
    height: 10em;
  }
  .splashPage .splash-button {
    min-width: 140px;
  }
  .splashPage .splash-button-container {
    margin: 10px 60px;
  }
}

/* The star glyph between Terms & Conditions and Avis*/
.splashPage .glyphicon {
  color: #9e9e9e;
  font-size: 5px;
  top: -3px;
}
